* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      color: #F08080;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  header {
      padding: 40px 40px;
      background-color: #F08080;
  }

  header h1 {
    font-weight: bold;
    font-size: 50px;
    color: #F8EDEB;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  header a {
    text-decoration: none;
    color: #F8EDEB;
  }

  header nav {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  header nav ul li {
    display: inline;
    list-style: none;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 30px;
  }
  
  footer {
    background: #F08080;
    color: #F8EDEB;
    width: 100%;
    padding: 40px 35px;
    text-align: center;
  }

  footer h2 {
    display: inline;
    color: #F8EDEB;
    font-size: 25px;
    margin: 0;
  }

  section {
      padding: 60px;
  }

  .hero {
    background-image: url("../images/cloud.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat:repeat-y;
    text-align: center;
    color: black;
    font-size: 40px;
  }

  .section {
    background-color: #F8EDEB;
    display: flex; 
  }

  .section_title {
    flex: 0 0 20%;
    display: inline;
  }

  .section_desc {
    flex: 0 0 70%;
    font-size: larger;
    text-align:justify;
    font-size: 20px;
  }

  .container{
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border: 10px;
  }
    
  .box{
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}